* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.leftside
{
    width: 40%;
    height: 100vh;
    background-color: gray;
}

.rightside
{
    width: 60%;
    background-color: #0A1D2E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    border-left: 40px solid #0A1D2E;
    /* margin: 40px; */
}
.know, .now
{
    margin-top: 30px;
}
img{
    width: 100%;
    height: 100%;
}
.container
{
    display:flex;
}
:root{
    color: white;
    margin: 0;
    padding: 0;
}
body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.firstsection
{
    line-height: 20 px;
    margin-bottom: -60px;
    font-size: 18px;
}

.login
{
    margin-top: 30px;
}
.forminga, .formingb, .formingc
{
    display: flex;
    margin-top: 20px;
}
.secondsection
{
    width: 60vw;
    /* line-height: 140%; */
    background-color: #14041c;
   margin-left: -40px;
   border-left: 40px solid #14041c;
   padding-bottom: 40px;
   padding-top: 20px;
   box-shadow: 10px 5px 5px #002572;

}

.one
{
    width: 50%;
}
.two
{
    width: 50%;
}
.oneone
{
  width: 50%;
}
.twotwo
{
    width: 50%;
}
input
{
    width: 70%;
    background-color: #14041c;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-family: arial;
}
.boundaryone, .boundarytwo, .boundarythree
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.do 
{
    line-height: 30px;
    font-size: 24px;
}
.one, .two
{
    
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}

button
{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #14041c;
    border: 2px solid white;
    margin-top:-80px;
}
button:hover
{
    opacity: 75%;
}
button:active
{
    opacity: 50%;
}
a 
{
    color: hotpink;
  }

  .login
  {
    margin-top: 80px;
}
input:focus
{
    border: 4px solid white;
}